:root {
  /* Colors */
  --black: hsl(0, 0%, 0%);
  --blue: hsl(195, 74%, 62%);
  --gray: hsl(0, 0%, 85%);
  --green: hsl(145, 58%, 55%);
  --navy-200: hsl(236, 100%, 87%);
  --navy-800: hsl(235, 41%, 34%);
  --navy-900: hsl(235, 46%, 20%);
  --navy-950: hsl(226, 43%, 10%);
  --orange: hsl(15, 100%, 70%);
  --pink: hsl(348, 100%, 68%);
  --purple-500: hsl(235, 45%, 61%);
  --purple-600: hsl(246, 80%, 60%);
  --purple-700: hsl(264, 64%, 52%);
  --white: hsl(0, 0%, 100%);
  --yellow: hsl(43, 84%, 65%);
  /* Typography */
  --font-family: "Rubik", sans-serif;
  --fs-15: 15px;
  --fs-18: 18px;
  --fs-24: 24px;
  --fs-32: 32px;
  --fs-40: 40px;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --lh-18: 18px;
  --lh-21: 21px;
  --lh-28: 28px;
  --lh-38: 38px;
  --lh-47: 47px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
